In [2]:
#!pip install pandasql 
from pandasql import sqldf 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [12]:
game_data = pd.read_excel(r'C:\Users\vasaa\data2\Data Challenge Master File.xlsx', sheet_name='Single Game Sales and Scans')
UCP_Scans = pd.read_excel(r'C:\Users\vasaa\data2\Data Challenge Master File.xlsx', sheet_name='UCP Scans')
UCP_Reservations = pd.read_excel(r'C:\Users\vasaa\data2\Data Challenge Master File.xlsx', sheet_name='UCP Reservations')
UCP_Member_Report = pd.read_excel(r'C:\Users\vasaa\data2\Data Challenge Master File.xlsx', sheet_name='UCP Member Report')

In [ ]:
Data_Dictionary = pd.read_excel('/content/Data Challenge Master File.xlsx', sheet_name='Data Dictionary')
team = pd.read_excel('/content/Data Challenge Master File.xlsx', sheet_name='Team Data')

In [5]:
pysqldf = lambda q: sqldf(q, globals())

# Do evening games (6:00pm or later) on average, have a higher scanned attendance than afternoon games (Before 6:00pm)?

In [1118]:
query1="""WITH game_attendance AS (
  SELECT 
    event_datetime,
    event_name,
    CASE 
      WHEN strftime('%H', event_datetime) < '18' THEN 'Afternoon' 
      ELSE 'Evening' 
    END as game_time,
    COUNT(scan_datetime) AS total_attendance
  FROM game_data
  GROUP BY event_datetime, event_name, game_time
)

SELECT 
  game_time,
  ROUND(AVG(total_attendance)) AS avg_attendance
FROM game_attendance
GROUP BY game_time;
"""

In [1119]:
pysqldf(query1)

   game_time  avg_attendance
0  Afternoon          1435.0
1    Evening          2132.0

## Also, provide average attendance per game by month

In [1148]:
query2="""SELECT 
  month,
  ROUND(AVG(total_attendance)) AS avg_attendance_per_game
FROM (
  SELECT 
    strftime('%m', event_datetime) AS month,
    event_name,
    COUNT(scan_datetime) AS total_attendance
  FROM 
    game_data
  GROUP BY 
    month, event_name
) subquery
GROUP BY 
  month;
"""

In [1149]:
pysqldf(query2)

  month  avg_attendance_per_game
0    01                   2082.0
1    02                   2682.0
2    03                   2181.0
3    04                   4363.0
4    10                   1429.0
5    11                   1632.0
6    12                   1459.0

# Count the number of UCP members with reservations >=5 and scans >=3.

In [728]:
query3="""SELECT COUNT(*) FROM(SELECT *
FROM UCP_Reservations AS r
JOIN UCP_Scans AS s ON r.EVENT_DATE_LOCAL = s.event_datetime AND r.SECTION = s.section_name AND r.ROW = s.row_name AND r.SEAT = s.seat_number
JOIN UCP_Member_Report AS m ON r.TENANT_MEMBER_NUMBER = m.TENANT_MEMBER_NUMBER
WHERE r.TENANT_MEMBER_NUMBER != '1000-000-0000'
GROUP BY r.TENANT_MEMBER_NUMBER
HAVING COUNT(DISTINCT r.TICKET_ID) >= 5 AND COUNT(DISTINCT s.scan_datetime) >= 3)
"""

In [729]:
pysqldf(query3)

   COUNT(*)
0       330

# Of these, how many UCP members attended every game they reserved?

In [730]:
query4='''
WITH Reservations AS (
    SELECT TENANT_MEMBER_NUMBER, COUNT(TICKET_ID) AS reservation_count
    FROM UCP_Reservations
    WHERE TENANT_MEMBER_NUMBER != '1000-000-0000'
    GROUP BY TENANT_MEMBER_NUMBER
),
Scans AS (
    SELECT UCP_Reservations.TENANT_MEMBER_NUMBER, COUNT(UCP_Scans.scan_datetime) AS scan_count
    FROM UCP_Reservations
    JOIN UCP_Scans ON UCP_Reservations.EVENT_DATE_LOCAL = UCP_Scans.event_datetime
        AND UCP_Reservations.SECTION = UCP_Scans.section_name
        AND UCP_Reservations.ROW = UCP_Scans.row_name
        AND UCP_Reservations.SEAT = UCP_Scans.seat_number
    WHERE UCP_Reservations.TENANT_MEMBER_NUMBER != '1000-000-0000'
    GROUP BY UCP_Reservations.TENANT_MEMBER_NUMBER
),
MemberData AS (
    SELECT Reservations.TENANT_MEMBER_NUMBER, reservation_count, scan_count
    FROM Reservations
    JOIN Scans ON Reservations.TENANT_MEMBER_NUMBER = Scans.TENANT_MEMBER_NUMBER
    WHERE reservation_count >= 5 AND scan_count >= 3
)

SELECT COUNT(*) AS total_members
FROM MemberData
WHERE reservation_count = scan_count;
'''

In [731]:
pysqldf(query4)

   total_members
0             26

# Find the average cost of a single game ticket for each game in the dataset provided.

In [732]:
query5 = '''
    SELECT event_name, AVG(price) AS avg_price
    FROM game_data
    GROUP BY event_name
'''

In [733]:
pysqldf(query5)

                                           event_name   avg_price
0       LA Clippers 2022-23 Game 1 - Phoenix 10/23/22   31.966790
1         LA Clippers 2022-23 Game 10 - Utah 11/21/22   19.911941
2       LA Clippers 2022-23 Game 11 - Denver 11/25/22   31.697708
3      LA Clippers 2022-23 Game 12 - Indiana 11/27/22   19.672161
4    LA Clippers 2022-23 Game 13 - Sacramento 12/3/22   23.143322
5       LA Clippers 2022-23 Game 14 - Boston 12/12/22   40.391410
6    LA Clippers 2022-23 Game 15 - Minnesota 12/14/22   17.140794
7      LA Clippers 2022-23 Game 16 - Phoenix 12/15/22   21.590062
8   LA Clippers 2022-23 Game 17 - Washington 12/17/22   21.790625
9    LA Clippers 2022-23 Game 18 - Charlotte 12/21/22   25.266808
10         LA Clippers 2022-23 Game 19 - Miami 1/2/23   36.005238
11  LA Clippers 2022-23 Game 2 - New Orleans 10/30/22   25.443343
12       LA Clippers 2022-23 Game 20 - Atlanta 1/8/23   22.035386
13       LA Clippers 2022-23 Game 21 - Dallas 1/10/23   29.992728
14       LA Clippers 2022-23 Game 22 - Denver 1/13/23   24.298622
15      LA Clippers 2022-23 Game 23 - Houston 1/15/23   18.275459
16  LA Clippers 2022-23 Game 24 - Philadelphia 1/1...   27.499471
17  LA Clippers 2022-23 Game 25 - San Antonio 1/26/23   18.812611
18        LA Clippers 2022-23 Game 26 - Dallas 2/8/23   36.853468
19    LA Clippers 2022-23 Game 27 - Milwaukee 2/10/23   46.151941
20  LA Clippers 2022-23 Game 28 - Golden State 2/1...   83.415429
21   LA Clippers 2022-23 Game 29 - Sacramento 2/24/23   36.478328
22      LA Clippers 2022-23 Game 3 - Houston 10/31/22   17.791587
23    LA Clippers 2022-23 Game 30 - Minnesota 2/28/23   18.979552
24       LA Clippers 2022-23 Game 31 - Memphis 3/5/23   38.342564
25       LA Clippers 2022-23 Game 32 - Toronto 3/8/23   18.540950
26     LA Clippers 2022-23 Game 33 - New York 3/11/23   40.188618
27  LA Clippers 2022-23 Game 34 - Golden State 3/1...   84.752982
28      LA Clippers 2022-23 Game 35 - Orlando 3/18/23   22.853723
29  LA Clippers 2022-23 Game 36 - Oklahoma City 3/...   19.781299
30  LA Clippers 2022-23 Game 37 - Oklahoma City 3/...   17.823404
31  LA Clippers 2022-23 Game 38 - New Orleans 3/25/23   25.186101
32      LA Clippers 2022-23 Game 39 - Chicago 3/27/23   34.214370
33          LA Clippers 2022-23 Game 4 - Utah 11/6/22   17.300654
34   LA Clippers 2022-23 Game 40 - Los Angeles 4/5/23  159.001586
35     LA Clippers 2022-23 Game 5 - Cleveland 11/7/22   18.935616
36   LA Clippers 2022-23 Game 6 - Los Angeles 11/9/22   78.283906
37     LA Clippers 2022-23 Game 7 - Brooklyn 11/12/22   36.816234
38      LA Clippers 2022-23 Game 8 - Detroit 11/17/22   16.307390
39  LA Clippers 2022-23 Game 9 - San Antonio 11/19/22   17.350417

# Then compare the total value if all UCP eligible games were purchased at their average single game price, against the UCP package price. Assume the UCP package price is $350.

In [ ]:
# Excluding the 6 games which are not available in the UCP

In [1146]:
query6 = '''SELECT ROUND(SUM(avg_price) - (78.283906 + 27.499471 + 83.415429 + 46.151941 + 84.752982 + 159.001586),0) as total_value
FROM(
    SELECT event_name, AVG(price) AS avg_price
    FROM game_data
    GROUP BY event_name) AS avg_CTE
'''

In [1147]:
pysqldf(query6)

   total_value
0        861.0